<!-- NOTE: changes not just in this component -->

<!-- TODO: 3. Use Semantic HTML properly, what's wrong with this usage of main -->

<!-- Explain for TODO 3: The content inside the <main> element should be unique to the document. 
It should not contain any content that is repeated across documents such as sidebars, navigation links, copyright information, site logos, and search forms.
pre-header and pre-side-nav should not be inside the main because they are shared -->

<!-- TODO: 4. Our header and footer are suppose to fill the full width of the page and sit flush to the top / bottom -->
<!-- e.g. no whitespace around the header / footer -->

<div class="mainDiv">
  <pre-header [userName]="userName$"></pre-header>
  <section class="table">
    <pre-side-nav [sideNavItems]="sideNavItems"></pre-side-nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </section>
  <pre-footer></pre-footer>
</div>

